.gitment-container .gitment-footer-container {
  display: none;
}

.gitment-container .gitment-editor-container {
  padding-bottom: 50px;
}

.gitment-comment-main {
  border: 1px solid #cfd8dc !important;
}

.gitment-comment-header {
  font-size: 12px;
}

.gitment-markdown {
  font-size: 12px !important;
}

.gitment-editor-footer-tip {
  display: none !important;
}

.gitment-container .gitment-header-container {
  font-size: 12px;
}

.gitment-editor-tab {
  font-size: 12px !important;
}

.gitment-editor-login {
  font-size: 12px !important;
}

.gitment-editor-submit {
  border-radius: 5px;
  font-size: 12px !important;
  background-color: #444444 !important;
}

nput::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aaa;
  font-size: 12px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aaa;
  font-size: 12px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aaa;
  font-size: 12px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #aaa;
  font-size: 12px;
}

.article-header {
  padding-bottom: 30px;
}

.gitment-header-like-btn svg {
  vertical-align: sub !important;
  height: 15px !important;
}

.gitment-container .gitment-comments-container {
  font-size: 12px;
}

.article-title {
  color: #000000;
}

.article-title:hover {
  color: #0088cc;
  cursor: pointer;
  text-decoration: underline;
}

.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  padding: 0;
  border: 0;
  margin: 30px 0 10px 0;
}

.article-inner p {
  margin: 0;
}

.article-inner h1:first-child {
  margin-left: -5px;
}